[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity
	branch = master
[submodule "third/libusb/libusb"]
	path = third/libusb/libusb
	url = https://github.com/libusb/libusb.git
	branch = v1.0.24
